@page
@model PortfolioWebsite.Pages.AwardsModel
@{
}
<div class="row">
    <div style="margin: 0 auto; padding: 15px" class="col text-center left-block green-block round-corners  bg-kinda-dark btn-margin-20">
        <h1 class="display-4" style="font-size: 2rem;"> Strategio Enterprise Simulator - Certificate of Completion </h1>
        <hr>
        <iframe src="/StrategioCert.pdf#zoom=50" style="width:100%; height:700px;" frameborder="0"></iframe>
    </div>
</div>
<hr>
<div class="row">
    <div style="margin: 0 auto; padding: 15px" class="col text-center left-block green-block round-corners  bg-kinda-dark btn-margin-20">
        <h1 class="display-4" style="font-size: 2rem;"> Hack-A-Roo - Third Place Award </h1>
        <hr>
        <iframe src="/hack-a-roo_certificate.pdf#zoom=50" style="width:100%; height:700px;" frameborder="0"></iframe>
    </div>
</div>