@page
@model PortfolioWebsite.Pages.Index1Model
@{
}
<div class="row">
    <div style="margin: 0 auto; padding: 15px" class="col text-center left-block green-block round-corners  bg-kinda-dark btn-margin-20">
        <h1 class="display-4" style="font-size: 2rem;"> Resume </h1>
        <hr>
        <iframe src="/Strategio CV.pdf#zoom=50" style="width:100%; height:700px;" frameborder="0"></iframe>
    </div>
</div>