@page
@model PortfolioWebsite.Pages.SwarmModel
@{
}
<div class="row">
    <div style="margin: 0 auto; padding: 15px" class="col text-center left-block green-block round-corners  bg-kinda-dark btn-margin-20">
        <h1 class="display-4" style="font-size: 2rem;"> Swarm Formation Demonstration </h1>
        <hr>
        <p class="description">
            Description: In this demonstration, the goal was to have the first drone take off and move to a predefined point and for the second to catch up.  Upon the second catching up, both engaged in landing routines.  
        </p>
        <hr>
        <iframe src="/swarm_demo.mp4#zoom=50" style="width:100%; height:700px;" frameborder="0"></iframe>
    </div>
</div>